<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Выравнивание по центру</title>
  <style>
   .text {
    text-align:  center;
   }
  </style>
 </head>
 <body>
  <div class="text">
     <p>Современная образовательная парадигма, ратифицируя приоритет 
     личностной ориентации педагогического процесса, в ходе которого 
     осуществляется развитие природных задатков, заложенных в каждом индивидууме, 
     требует переосмысления существующих традиционных форм и 
     методов общеобязательного образования.</p>
  </div>
 </body>
</html>