<div class="form-wrap">
<h1 align="center">Информация</h1>
  

   <table width="100%" cellspacing="0" cellpadding="4">
    <tr> 
     <td align="right" width="865">Имя</td>
     <td><input type="text" name="nickname" maxlength="50" size="20"></td>
    </tr>
	<tr> 
     <td align="right" width="865">Фамилия</td>
     <td><input type="text" name="surname" maxlength="50" size="20"></td>
    </tr>
    <tr> 
     <td align="right">E-mail</td>
     <td><input type="text" name="email" maxlength="50" size="20"></td>
    </tr>
    <body>
     <form>
      <p style="text-align: center"><button>Кнопка с текстом</button>
     </form>
    </body> 